.main_wrapper.cart {
	// background-color: aqua;
	width: 1100px;
	height: auto;
	padding-top: 50px;
}

.cart_header {
	width: 100%;
	height: auto;
	// background-color: antiquewhite;
	display: flex;
	flex-direction: column;
	align-items: center;
	.cart_title {
		font-size: 22px;
		font-weight: 800;
		margin-bottom: 30px;
	}

	.delete_buttons {
		width: 100%;
		height: 40px;
		display: flex;
		justify-content: flex-end;
		// background-color: rgb(243, 209, 164);
		button {
			border: 0.5px solid black;
			background-color: black;
			color: white;
			border-radius: 5px;
			margin-left: 5px;
			padding: 0 15px;
			height: 30px;
		}
	}
}

.purchase_buttons {
	width: 100%;
	height: 100px;
	// background-color: azure;
	display: flex;
	align-items: center;
	justify-content: center;
	button {
		height: 40px;
		width: 180px;
		margin: 0 10px;
	}
	.purchase_total {
		background-color: rgb(103, 194, 255);
	}
}
