.main_wrapper.contents_detail {
	width: 1080px;
	height: 1000px;
	.top {
		width: 100%;
		height: 600px;
		display: flex;
		.top_left {
			width: 50%;
			height: 100%;
			.main_img {
				width: 415px;
				height: 415px;
				border-radius: 35px;
				background-color: rgb(189, 189, 189);
			}
			.imgs {
				width: 415px;
				height: 90px;
				margin-top: 20px;
				display: flex;
				justify-content: space-between;
				.img {
					width: calc((415px / 4) - 10px);
					height: 100%;
					border-radius: 15px;
					background-color: antiquewhite;
				}
			}
		}
		.top_right {
			width: 50%;
			height: 100%;
			.contents_infos {
				width: 180px;
				height: 200px;
				font-size: 18px;
				.row {
					height: 25px;
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: flex-end;
					.stars {
						font-size: 15px;
						color: #ffb55e;
						i:last-child {
							color: gray;
						}
					}
					.review_count {
						font-size: 13px;
					}
					.price_original {
						font-size: 12px;
					}
					.sale_percent {
						font-size: 25px;
						color: #ff4f4f;
					}
					.price_final {
						font-size: 27px;
						font-weight: 700;
					}
				}
				.row:last-child {
					height: 30px;
				}
			}
			.buttons.choice {
				width: 100%;
				height: auto;
				display: flex;
				flex-direction: column;

				button {
					height: 90px;
					background-color: #cccccc;
					border: none;
					margin-bottom: 15px;
					font-size: 20px;
				}
			}
			.total_price_wrapper {
				width: 100%;
				height: 90px;
				display: flex;
				justify-content: flex-end;
				align-items: flex-end;
				border-bottom: 2px solid rgb(141, 141, 141);
				padding-bottom: 10px;
				.total_price_title {
					font-size: 21px;
				}
				.total_price {
					font-size: 28px;
					margin: 0 10px;
				}
			}
			.insert_contents {
				width: 100%;
				height: 200px;
				background-color: #cccccc;
			}
			.buttons.purchase {
				width: 100%;
				height: 90px;
				background-color: #ff4f4f;
				margin-top: 10px;
			}
		}
	}
}
