#login_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 640px;
	height: auto;
	/* background-color: rgb(236, 215, 255); */
}

.login_start {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-bottom: 3.7%;
}

.login_title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	font-size: 35px;
	font-family: var(--jua-font);
}

.login_sns_wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5%;
}

.kakao_login {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 318px;
	height: 65px;
	background-color: rgb(240, 236, 0);
	border-radius: 3px;
}

.kakao_login_title {
	font-size: 17px;
	text-align: center;
}

.naver_login {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 318px;
	height: 65px;
	background-color: #03c75a;
	border-radius: 3px;
}

.naver_login_title {
	font-size: 17px;
	text-align: center;
	color: rgb(255, 255, 255);
}

.login_or {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-top: 15px;
	margin-bottom: 3.5%;
}

.login_or_title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 640px;
	height: 50px;
	font-size: 13px;
	font-family: var(--jua-font);
	color: rgb(196, 196, 196);
}

.login_member_wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 4%;
}

.member .member_login {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 318px;
	height: 53px;
	background-color: rgb(255, 149, 149);
	border-radius: 3px;
}

.member .non_member_login {
	background-color: rgb(255, 238, 238);
}

.nonmember .member_login {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 318px;
	height: 53px;
	background-color: rgb(255, 238, 238);
	border-radius: 3px;
}

.nonmember .non_member_login {
	background-color: rgb(255, 149, 149);
}

.member_login_title {
	font-size: 20px;
	text-align: center;
}

.non_member_login {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 318px;
	height: 53px;
	background-color: rgb(255, 238, 238);
	border-radius: 3px;
}

.non_member_login_title {
	font-size: 20px;
	text-align: center;
}

.ID_wrapper {
	position: relative;
	display: table-cell;
}

.ID_field-container {
	display: block;
	border: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px 10px 10px;
	border-bottom: solid;
	border-width: 0.5px;
	outline: none;
	margin-bottom: 2.5%;
	box-sizing: border-box;
}

.ID_field_text {
	position: relative;
	padding: 0;
	min-width: 600px;
	border: 0;
	outline: none;
}

.FW_field-container {
	box-sizing: border-box;
	border: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px 10px 10px;
	border-bottom: solid;
	border-width: 0.5px;
	outline: none;
	margin-bottom: 4%;
}

.FW_field_text {
	position: relative;
	padding: 0;
	min-width: 600px;
	border: 0;
	outline: none;
}

.login_keep_wrapper {
	display: flex;
	width: 100%;
	height: 100%;
}

.ID_keep_check {
	display: flex;
	width: 20%;
	height: 100%;
	margin-bottom: 5%;
}

.all_keep_check {
	display: flex;
	height: 100%;
}

.finish_login_wrapper {
	width: 100%;
	display: flex;
}

.finish_login {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 640px;
	height: 60px;
	background-color: #151515;
	border-radius: 3px;
	margin-bottom: 3%;
}

.finish_login_title {
	display: flex;
	color: #ffffff;
}

main .find_wrapper {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	margin-bottom: 3%;
	justify-content: center;
	ul {
		margin-top: 20px;
		/* color: rgb(207, 207, 207); */
		display: flex;
		justify-content: space-between;
		width: auto;
		box-sizing: border-box;
		a {
			box-sizing: border-box;
		}
		li {
			/* padding-right: 10px; */
			border-right: 1px solid rgb(78, 78, 78);
			box-sizing: border-box;
			span {
				padding: 10px;
			}
		}
		.none_border {
			border: none;
		}
	}
}
