#manager_body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#manager_body .manager_wrapper {
  width: 1200px;
  height: 700px;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
}
#manager_body .manager_wrapper .main_menu_wrapper {
  width: 200px;
  height: 100%;
  background: #d9d9d9;
  display: flex;
  flex-direction: column;
}
#manager_body .manager_wrapper .main_menu_wrapper .menu {
  box-sizing: border-box;
  width: 201px;
  height: 70px;
  background: #8e8e8e;
  border: 1px solid #000000;
}
#manager_body .manager_wrapper .main_display {
  width: calc(100% - 200px);
  height: 100%;
}
#manager_body .manager_wrapper .main_display header {
  box-sizing: border-box;
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
}
#manager_body .manager_wrapper .main_display header .login_info {
  width: 228px;
  height: 98px;
  background: #d9d9d9;
}
#manager_body .manager_wrapper .main_display header .logout {
  width: 172px;
  height: 64px;
  background: #d9d9d9;
  border-radius: 40px;
}
#manager_body .manager_wrapper .main_display .contents {
  width: 100%;
  height: calc(100% - 190px);
}
#manager_body .manager_wrapper .main_display .contents .contents_header {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: 55px;
}
#manager_body .manager_wrapper .main_display .contents .contents_header .title {
  font-style: normal;
  font-size: 20px;
  color: #000000;
}
#manager_body .manager_wrapper .main_display .contents .contents_header .notification {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #d9d9d9;
  margin-left: 15px;
  text-align: center;
  padding-top: 5px;
}
#manager_body .manager_wrapper .main_display .contents .contents_header .search {
  width: 504px;
  height: 35px;
  margin-left: 15px;
  margin-right: 25px;
}
#manager_body .manager_wrapper .main_display .contents .contents_header .regist,
#manager_body .manager_wrapper .main_display .contents .contents_header .delete {
  width: 87px;
  height: 27px;
  background: #d9d9d9;
  border-radius: 8px;
  margin-right: 15px;
}
#manager_body .manager_wrapper .main_display .contents .board {
  width: 693px;
  height: 408px;
  background: #ffffff;
  margin: 15px 0 0 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
}
#manager_body .manager_wrapper .main_display .contents .board .message {
  width: 669px;
  height: 38px;
  background: #d9d9d9;
  margin-bottom: 10px;
}
#manager_body .manager_wrapper .main_display .contents .board.notice {
  width: 870px;
  padding-top: 0;
  border: 2px solid black;
}
#manager_body .manager_wrapper .main_display .contents .board.notice .table_header,
#manager_body .manager_wrapper .main_display .contents .board.notice .table_row {
  width: 100%;
  height: 48px;
  display: flex;
}
#manager_body .manager_wrapper .main_display .contents .board.notice .table_header .table_col,
#manager_body .manager_wrapper .main_display .contents .board.notice .table_row .table_col {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#manager_body .manager_wrapper .main_display .contents .board.notice .table_header .table_col.class,
#manager_body .manager_wrapper .main_display .contents .board.notice .table_row .table_col.class {
  width: 79px;
}
#manager_body .manager_wrapper .main_display .contents .board.notice .table_header .table_col.title,
#manager_body .manager_wrapper .main_display .contents .board.notice .table_row .table_col.title {
  width: 372px;
}
#manager_body .manager_wrapper .main_display .contents .board.notice .table_header .table_col.writer,
#manager_body .manager_wrapper .main_display .contents .board.notice .table_row .table_col.writer {
  width: 122px;
}
#manager_body .manager_wrapper .main_display .contents .board.notice .table_header .table_col.views,
#manager_body .manager_wrapper .main_display .contents .board.notice .table_row .table_col.views {
  width: 122px;
}
#manager_body .manager_wrapper .main_display .contents .board.notice .table_header .table_col.date,
#manager_body .manager_wrapper .main_display .contents .board.notice .table_row .table_col.date {
  width: 176px;
}
#manager_body .manager_wrapper .main_display .contents .board.notice .table_header {
  border-bottom: 1px solid rgb(33, 33, 33);
}
#manager_body .manager_wrapper .main_display .contents .board.notice .table_row {
  border-bottom: 1px solid rgb(218, 218, 218);
}/*# sourceMappingURL=manager.css.map */