#manager_body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	.manager_wrapper {
		width: 1200px;
		height: 700px;
		background-color: #eeeeee;
		display: flex;
		align-items: center;
		border: solid;
		border-width: 0.5px;
		.main_menu_wrapper {
			width: 200px;
			height: 100%;
			background: #eeeeee;
			display: flex;
			flex-direction: column;
			border-right: solid;
			border-width: 0.5px;
			.menu {
				display: flex;
				box-sizing: border-box;
				width: 200px;
				height: 70px;
				background: rgb(174, 222, 222);
				border-bottom: 1px solid #000000;
				border-right: solid;
				border-width: 0.5px;
				justify-content: center;
				align-items: center;
				font-size: 17.5px;
			}
			.menu:nth-child(1) {
				background: rgb(15, 162, 162);
			}
		}
		.main_display {
			width: calc(100% - 200px);
			height: 100%;
			header {
				box-sizing: border-box;
				width: 100%;
				height: 190px;
				display: flex;
				justify-content: space-between;
				padding: 40px 50px;
				.login_info {
					display: flex;
					flex-direction: column;
					width: 228px;
					height: 98px;
					justify-content: center;
					align-items: flex-start;
					padding-left: 35px;
					background: rgb(174, 222, 222);
					border: solid;
					border-width: 0.5px;
					.on_dep {
						margin-top: 7px;
					}
				}
				.logout {
					width: 111px;
					height: 43px;
					font-size: 15px;
					color: #dbdbdb;
					background: rgb(0, 117, 117);
					border-radius: 40px;
					border: none;
				}
			}
			.contents {
				width: 100%;
				height: calc(100% - 190px);
				display: flex;
				flex-direction: column;
				.contents_header {
					width: 100%;
					height: 45px;
					display: flex;
					align-items: center;
					padding-left: 55px;
					padding-bottom: 20px;
					.title {
						font-style: normal;
						font-size: 20px;
						color: #000000;
					}
					.notification {
						width: 30px;
						height: 30px;
						border-radius: 15px;
						background: rgb(255, 217, 29);
						border: solid;
						border-width: 0.5px;
						margin-left: 15px;
						text-align: center;
						padding-top: 5px;
					}
					.order_wrapper, .registration, .check, .ascending_order, .descending_order {
						font-size: 13px;
						box-sizing: border-box;
						justify-content: center;
						align-items: center;
						display: flex;
						.order_one {
							margin-top: 10px;
							margin-right: 3px;
							.registration {
								width: 71px;
								height: 28px;
								border: solid;
								border-width: 0.5px;
							}
							.check {
								width: 71px;
								height: 28px;
								border: solid;
								border-width: 0.5px;
								background: rgb(164, 225, 255);
							}
						}
						.order_two {
							margin-top: 10px;
							.ascending_order {
								width: 71px;
								height: 28px;
								border: solid;
								border-width: 0.5px;
								background: rgb(164, 225, 255);
							}
							.descending_order {
								width: 71px;
								height: 28px;
								border: solid;
								border-width: 0.5px;
							}
						}
					}
					.search {
						width: 504px;
						height: 35px;
						margin-left: 33px;
						margin-right: 15px;
						margin-top: 10px;
					}
					.search_product {
						width: 504px;
						height: 35px;
						margin-left: 15px;
						margin-right: 15px;
						margin-top: 30px;
					}
					.regist {
						width: 87px;
						height: 27px;
						background: rgb(255, 217, 29);
						border-radius: 8px;
						border: solid;
						border-width: 0.5px;
						margin-right: 10px;
						margin-top: 10px;
					}
					.regist_product {
						width: 87px;
						height: 27px;
						background: rgb(255, 217, 29);
						border-radius: 8px;
						border: solid;
						border-width: 0.5px;
						margin-right: 10px;
						margin-top: 30px;
					}
					.delete {
						width: 87px;
						height: 27px;
						background: #d9d9d9;
						border-radius: 8px;
						border: solid;
						border-width: 0.5px;
						margin-right: 10px;
						margin-top: 10px;
					}
					.delete_product {
						width: 87px;
						height: 27px;
						background: #d9d9d9;
						border-radius: 8px;
						border: solid;
						border-width: 0.5px;
						margin-right: 10px;
						margin-top: 30px;
					}
				}

				.board {
					width: 693px;
					height: 408px;
					margin: 15px 0 0 55px;
					display: flex;
					flex-direction: column;
					align-items: center;
					padding: 10px 0;
					box-sizing: border-box;
					background: #ffffff;
					.message {
						display: flex;
						width: 669px;
						height: 38px;
						background: rgb(174, 222, 222);
						// margin-bottom: 10px;
						border: solid;
						border-width: 0.5px;
						align-items: center;
						margin: 0.7px;
					}
					.message:nth-child(2) {
						background: rgb(94, 172, 255);
					}
					.message:nth-child(4), .message:nth-child(5), .message:nth-child(6) {
						background: rgb(255, 165, 47);
					}
				}

				.board.notice {
					width: 870px;
					padding-top: 0;
					border: 2px solid black;
					.table_header,
					.table_row {
						width: 100%;
						height: 48px;
						display: flex;
						.table_col {
							height: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
						}

						.table_col.class {
							width: 79px;
						}
						.table_col.title {
							width: 372px;
						}
						.table_col.writer {
							width: 122px;
						}
						.table_col.views {
							width: 122px;
						}
						.table_col.date {
							width: 176px;
						}
					}
					.table_header {
						border-bottom: 1px solid rgb(33, 33, 33);
					}
					.table_row {
						border-bottom: 1px solid rgb(218, 218, 218);
					}
				}
				.board.product {
					width: 870px;
					padding-top: 0;
					border: 2px solid black;
					.table_header,
					.table_row {
						width: 100%;
						height: 48px;
						display: flex;
						.table_col {
							height: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
						}

						.table_col.class {
							width: 100px;
						}
						.table_col.title {
							width: 351px;
						}
						.table_col.writer {
							width: 122px;
						}
						.table_col.views {
							width: 122px;
						}
						.table_col.date {
							width: 176px;
						}
					}
					.table_header {
						border-bottom: 1px solid rgb(33, 33, 33);
					}
					.table_row {
						border-bottom: 1px solid rgb(218, 218, 218);
					}
				}
			}
		}
		.main_registration {
			width: calc(100% - 200px);
			height: 100%;
			.title_and_registration {
				display: flex;
				justify-content: center;
				padding-top: 40px;
				.title {
					font-style: normal;
					font-size: 20px;
					color: #000000;
				}
			}
			.contents {
				width: 100%;
				height: calc(100% - 70px);
				// height: 100%;
				display: flex;
				flex-direction: column;
			}
			.board.product {
				width: 870px;
				height: 575px;
				margin: 40px 0 0 55px;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 30px 0;
				box-sizing: border-box;
				background: #ffffff;
				.point_img{
					width: 100%;
					height: 100%;
					background-color: aqua;

					.point_title {

					}
					.point_img_contents {
						display: flex;
						width: 100%;
						height: 100%;
						background-color: rgb(255, 183, 90);
						.point_img_content{
							width: 300px;
							height: 300px;
							background-color: grey;
							border: 1px solid black;
						}
					}
				}
				
				// .point_img_wrapper {
				// 	// width: 100%;
				// 	// height: auto;
				// 	// display: flex;
				// 	// // width: calc(100vw - 286px);
				// 	// background-color: rgb(151, 122, 122);
				// 	.point_img_contents {
				// 		// display: flex;
				// 		// // flex-wrap: wrap;
				// 		// background-color: rgb(255, 177, 177);
				// 	}
				// 	.point_img_content {
				// 		// // width: 220px;
				// 		// // height: auto;
				// 		// // margin-right: 30px;
				// 		// margin-bottom: 60px;
				// 		// display: flex;
				// 		// // flex-direction: column;
				// 		// background-color: burlywood;
				// 		.point_img {
				// 			// width: 220px;
				// 			// height: 250px;
				// 			// // border-radius: 15px;
				// 			// background-color: rgb(207, 255, 249);
				// 		}
				// 	}
				// }
				// .point_img_content {
				// 	// width: 220px;
				// 	// height: auto;
				// 	// margin-right: 30px;
				// 	margin-bottom: 60px;
				// 	display: flex;
				// 	// flex-direction: row;
				// 	.point_img_wrapper {
				// 		width: 200px;
				// 		height: 200px;
				// 		// border-radius: 15px;
				// 		background-color: rgb(207, 207, 207);
				// 	}
				// }
			}
		}
	}
}
