.cart_wrapper.pay {
  width: 1100px;
  height: auto;
  padding-top: 50px;
}

.pay_header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pay_header .pay_title {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 30px;
}
.pay_header .back_buttons {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
}
.pay_header .back_buttons button {
  border: 0.5px solid black;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-left: 5px;
  padding: 0 15px;
  height: 30px;
}

.pay_list {
  width: 100%;
  height: auto;
}
.pay_list table {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.pay_list table .table_header {
  width: 100%;
  height: 40px;
  background-color: rgb(227, 227, 227);
  box-sizing: border-box;
}
.pay_list table tr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 150px;
  border: 1px solid black;
  box-sizing: border-box;
}
.pay_list table tr .check {
  width: 70px;
}
.pay_list table tr td {
  width: 157.1428571429px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pay_list table tr td .img_wrapper {
  width: 130px;
  height: 130px;
  border: 1px solid black;
}

.order_info {
  width: 100%;
  height: auto;
}
.order_info table {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.order_info table .table_info {
  width: 100%;
  height: 40px;
  background-color: rgb(227, 227, 227);
  padding: 0 45px 0 45px;
  box-sizing: border-box;
}
.order_info table .table_info .import_text {
  font-size: 10px;
  color: red;
}
.order_info table tr {
  display: flex;
  align-items: center;
  width: 100%;
  height: 250px;
  border: 1px solid black;
  justify-content: space-between;
}
.order_info table tr td {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom_ord_info {
  width: 100%;
  height: 450px;
  background: rgb(227, 227, 227);
  border: 1px solid black;
  display: flex;
  padding: 40px 0 40px 40px;
}
.custom_ord_info .ord_info {
  width: 500px;
  height: 182px;
  background-color: rgb(174, 222, 222);
  line-height: 35px;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.custom_ord_info .ord_info .custom_info {
  width: 100%;
  height: 55px;
  padding-left: 10px;
  font-size: 15px;
  padding-top: 5px;
}
.custom_ord_info .ord_info .ord_name {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding-left: 40px;
  font-size: 13px;
}
.custom_ord_info .ord_info .ord_name .ord_text_info_name {
  border: 0;
  border-bottom: solid;
  border-width: 0.5px;
  min-width: 240px;
  margin-left: 39px;
  outline: none;
  padding-bottom: 3px;
}
.custom_ord_info .ord_info .ord_email {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding-left: 40px;
  font-size: 13px;
}
.custom_ord_info .ord_info .ord_email .ord_text_info_email {
  border: 0;
  border-bottom: solid;
  border-width: 0.5px;
  min-width: 190px;
  margin-left: 25px;
  outline: none;
  padding-bottom: 3px;
}
.custom_ord_info .ord_info .ord_phone_number {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  padding-left: 40px;
  font-size: 13px;
  padding-bottom: 5px;
}
.custom_ord_info .ord_info .ord_phone_number .ord_text_info_number {
  border: 0;
  border-width: 0.5px;
  min-width: 80px;
  margin-left: 12px;
  outline: none;
  padding-bottom: 3px;
  border: 1px solid #000000;
}
.custom_ord_info .ord_info .ord_phone_number .li .ord_phone_number_first {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  color: #000;
  border: 0;
  border-bottom: solid 1px #9d9d9d;
  box-sizing: border-box;
}
.order_buttons {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order_buttons button {
  height: 40px;
  width: 180px;
  margin: 0 10px;
}
.order_buttons .order_total {
  background-color: rgb(103, 194, 255);
}/*# sourceMappingURL=pay.css.map */