.cart_wrapper.pay {
	width: 1100px;
	height: auto;
	padding-top: 50px;
}

.pay_header {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	.pay_title {
		font-size: 22px;
		font-weight: 800;
		margin-bottom: 30px;
	}

	.back_buttons {
		width: 100%;
		height: 40px;
		display: flex;
		justify-content: flex-end;
		button {
			border: 0.5px solid black;
			background-color: black;
			color: white;
			border-radius: 5px;
			margin-left: 5px;
			padding: 0 15px;
			height: 30px;
			cursor: pointer;
			&:hover {
				background: #dbdbdb;
				color: black;
			}
		}
	}
}


.pay_list {
	width: 100%;
	height: auto;
	table {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		.table_header {
			width: 100%;
			height: 40px;
			background-color: rgb(169, 216, 255);
			box-sizing: border-box;
		}
		tr {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			height: 150px;
			border: 1px solid black;
			box-sizing: border-box;
			.check {
				width: 70px;
			}
			td {
				width: calc(1100px / 7);
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				.img_wrapper {
					width: 130px;
					height: 130px;
					border: 1px solid black;
				}
			}
		}
	}
}


.order_info {
	width: 100%;
	height: auto;
	table {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		.table_info {
			width: 100%;
			height: 40px;
			background-color: rgb(169, 216, 255);
			padding: 0 45px 0 45px;
			box-sizing: border-box;
			.import_text {
				font-size: 10px;
				color: red;
			}
		}
		tr {
			display: flex;
			align-items: center;
			width: 100%;
			height: 250px;
			border: 1px solid black;
			justify-content: space-between;
			td {
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.custom_ord_info {
	width: 100%;
	height: 500px;
	// background:rgb(227, 227, 227);
	border: 1px solid black;
	display: flex;
	padding: 40px 0 40px 40px;
	.ord_info {
		width: 500px;
		// height: 197px;
		height: 367px;
		// background-color:  rgb(227, 227, 227);
		line-height: 35px;
		// border: 1px solid #000000;
		box-sizing: border-box;
		.custom_info {
			width: 100%;
			height: 55px;
			padding-left: 10px;
			font-size: 15px;
			padding-top: 5px;
		}
		.ord_name {
			width: 100%;
			height: 40px;
			box-sizing: border-box;
			padding-left: 40px;
			font-size: 12px;
			font-weight: bold;
			.ord_text_info_name {
				border: 0;
				// background-color: rgb(227, 227, 227);
				border-bottom: solid;
				border-width: 0.5px;
				min-width: 150px;
				margin-left: 47px;
				outline: none;
			}
		}
		.ord_email_wrapper {
			display: flex;
			width: 100%;
			padding-top: 5px;
			padding-left: 40px;
			.ord_email {
				width: 100%;
				// background-color: rgb(227, 227, 227);
				box-sizing: border-box;
				font-size: 12px;
				padding-bottom: 5px;
				display: flex;
				font-weight: bold;
				.ord_email_write {
					margin-left: 39px;
					.info_text_email {
						width: 130px;
						box-sizing: border-box;
						font-size: 12px;
						outline: none;
						margin-right: 5px;
						// background-color: rgb(227, 227, 227);
						border: 0;
						border-bottom: 1px solid #000000;
						border-width: 0.5px;
					}
				}
				.ord_text_info_email {
					// background-color: rgb(227, 227, 227);
					border: 0;
					border-bottom: 1px solid #000000;
					border-width: 0.5px;
					min-width: 80px;
					margin-left: 5px;
					outline: none;
				}
			}
		}
		.ord_number_wrapper {
			display: flex;
			width: 100%;
			padding-top: 5px;
			.ord_phone_number {
				width: 100%;
				box-sizing: border-box;
				padding-left: 40px;
				font-size: 12px;
				padding-bottom: 5px;
				display: flex;
				font-weight: bold;
				.ord_text_info_number {
					// background-color: rgb(227, 227, 227);
					border-width: 0.5px;
					min-width: 80px;
					margin-left: 26px;
					outline: none;
					padding-bottom: 3px;
					border: 0;
					border-bottom: 1px solid #000000;
					margin-right: 12px;
				}
				.ord_info_center_number {
					border: 0;
					// background-color: rgb(227, 227, 227);
					border-width: 0.5px;
					min-width: 75px;
					margin-left: 12px;
					margin-right: 12px;
					outline: none;
					padding-bottom: 3px;
					border-bottom: 1px solid #000000;
				}
				.ord_info_last_number {
					border: 0;
					// background-color: rgb(227, 227, 227);
					border-width: 0.5px;
					min-width: 75px;
					margin-left: 12px;
					outline: none;
					padding-bottom: 3px;
					border-bottom: 1px solid #000000;
				}
			}
		}
	}
	.deliv_info {
		width: 500px;
		height: 367px;
		// background-color:  rgb(227, 227, 227);
		line-height: 35px;
		// border: 1px solid #000000;
		box-sizing: border-box;
		margin-left: 20px;
		.delivery_info {
			width: 100%;
			padding-left: 10px;
			font-size: 15px;
			padding-top: 5px;
			display: flex;
		}
		.dest_choose {
			margin-left: 40px;
			font-size: 12px;
			display: flex;
			.choose_imp {
				color: red;
			}
		}
		.deliv_name {
			width: 100%;
			height: 40px;
			box-sizing: border-box;
			padding-left: 40px;
			font-size: 12px;
			font-weight: bold;
			.deliv_text_info_name {
				border: 0;
				// background-color: rgb(227, 227, 227);
				border-bottom: solid;
				border-width: 0.5px;
				min-width: 150px;
				margin-left: 47px;
				outline: none;
			}
		}
		.deliv_address_wrapper {
			display: flex;
			width: 100%;
			padding-bottom: 5px;
			.deliv_address {
				margin-top: 5px;
				box-sizing: border-box;
				padding-left: 40px;
				font-size: 12px;
				padding-bottom: 5px;
				font-weight: bold;
			}
			.deliv_check {
				margin-left: 52px;
				.form {
					width: 100%;
					display: flex;
					align-items: center;
					height: 46px;
					.deliv_do_fore {
						// float: left;
						width: 150px;
						font-size: 13px;
					}
				}
			}
			.deliv_post_code {
				width: 100%;
				display: flex;
				.deliv_text_post_code {
					width: 130px;
					height: 25px;
					box-sizing: border-box;
					font-size: 12px;
					outline: none;
					margin-right: 5px;
					// background-color: rgb(227, 227, 227);
					border: 0;
					border-bottom: 1px solid #000000;
					border-width: 0.5px;
					margin-top: 7px;
				}
				.deliv_search_code {
					padding-left: 10px;
					.deliv_search_post_code {
						width: 80px;
						height: 25px;
						border-radius: 5px;
						box-sizing: border-box;
						font-size: 10px;
						color: white;
						outline: none;
						background-color: rgb(0, 0, 0);
					}
				}
			}
			.deliv_road_name {
				.deliv_search_road_name {
					width: 130px;
					height: 25px;
					box-sizing: border-box;
					font-size: 12px;
					outline: none;
					margin-right: 5px;
					// background-color: rgb(227, 227, 227);
					border: 0;
					border-bottom: 1px solid #000000;
					border-width: 0.5px;
					min-width: 220px;
				}
			}
			.deliv_detail_post {
				.deliv_detail_address {
					width: 300px;
					height: 25px;
					box-sizing: border-box;
					font-size: 12px;
					outline: none;
					margin-right: 5px;
					// background-color: rgb(227, 227, 227);
					border: 0;
					border-bottom: 1px solid #000000;
					border-width: 0.5px;
				}
			}
		}
		.deliv_number_wrapper {
			display: flex;
			width: 100%;
			padding-top: 5px;
			.deliv_phone_number {
				width: 100%;
				box-sizing: border-box;
				padding-left: 40px;
				font-size: 12px;
				padding-bottom: 5px;
				display: flex;
				font-weight: bold;
				.deliv_text_info_number {
					// background-color: rgb(227, 227, 227);
					border-width: 0.5px;
					min-width: 80px;
					margin-left: 26px;
					margin-right: 12px;
					outline: none;
					padding-bottom: 3px;
					border: 0;
					border-bottom: 1px solid #000000;
				}
				.deliv_info_center_number {
					border: 0;
					// background-color: rgb(227, 227, 227);
					border-width: 0.5px;
					min-width: 75px;
					margin-left: 12px;
					margin-right: 12px;
					outline: none;
					padding-bottom: 3px;
					border-bottom: 1px solid #000000;
				}
				.deliv_info_last_number {
					border: 0;
					// background-color: rgb(227, 227, 227);
					border-width: 0.5px;
					min-width: 75px;
					margin-left: 12px;
					outline: none;
					padding-bottom: 3px;
					border-bottom: 1px solid #000000;
				}
			}
		}
		.deliv_message {
			width: 100%;
			height: 40px;
			box-sizing: border-box;
			padding-left: 40px;
			font-size: 12px;
			font-weight: bold;
			.deliv_text_info_message {
				border: 0;
				// background-color: rgb(227, 227, 227);
				border-bottom: solid;
				border-width: 0.5px;
				min-width: 300px;
				margin-left: 5px;
				outline: none;
			}
		}
	}
}

.order_buttons {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	button {
		height: 40px;
		width: 180px;
		margin: 0 10px;
	}
	.order_total {
		background-color: rgb(169, 216, 255);
		border: 1px solid #000000;
		cursor: pointer;
		&:hover {
			background: rgb(0, 122, 222);
			color: #fff;
		}
	}
}

// pay_complete.php css
.cart_wrapper.pay {
	width: 1100px;
	height: auto;
	padding-top: 50px;
}

.pay_complete_header {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	.pay_comp_title {
		font-size: 22px;
		font-weight: 800;
		margin-bottom: 30px;
	}
	.pay_back_buttons {
		width: 100%;
		height: 40px;
		display: flex;
		justify-content: flex-end;
		button {
			border: 0.5px solid black;
			background-color: black;
			color: white;
			border-radius: 5px;
			margin-left: 5px;
			padding: 0 15px;
			height: 30px;
			cursor: pointer;
			&:hover {
				background: #dbdbdb;
				color: black;
			}
		}
	}
}

.complete_info {
	width: 100%;
	height: auto;
	table {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		.table_comp_info {
			width: 100%;
			height: 40px;
			background-color: rgb(169, 216, 255);
			padding: 0 45px 0 45px;
			box-sizing: border-box;
		}
		tr {
			display: flex;
			align-items: center;
			width: 100%;
			height: 250px;
			border: 1px solid black;
			justify-content: space-around;
			td {
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.pay_comp_list {
	width: 100%;
	height: auto;
	table {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		.pay_table_header {
			width: 100%;
			height: 40px;
			background-color: rgb(169, 216, 255);
			box-sizing: border-box;
		}
		tr {
			display: flex;
			align-items: center;
			width: 100%;
			height: 150px;
			border: 1px solid black;
			box-sizing: border-box;
			justify-content: space-around;
			.check {
				width: 70px;
			}
			td {
				width: calc(1100px / 7);
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				.pay_img_wrapper {
					width: 130px;
					height: 130px;
					border: 1px solid black;
				}
			}
		}
	}
}

.comp_detail_info {
	width: 100%;
	height: 110px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	.comp_detail_wrapper {
		width: 300px;
		line-height: 35px;
		box-sizing: border-box;
		.comp_one {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 20px;
		}
		.comp_two {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 13px;
		}
	}
}
.comp_detail_buttons {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	button {
		height: 40px;
		width: 180px;
		margin: 10px 25px 0 0;
	}
	.comp_detail {
		background-color: rgb(169, 216, 255);
		border: 1px solid #000000;
		cursor: pointer;
		&:hover {
			background: rgb(0, 122, 222);
			color: #fff;
		}
	}
	.comp_main_move {
		background-color: rgb(169, 216, 255);
		border: 1px solid #000000;
		cursor: pointer;
		&:hover {
			background: rgb(0, 122, 222);
			color: #fff;
		}
	}
}
