
.cart_wrapper.pay {
	// background-color: aqua;
	width: 1100px;
	height: auto;
	padding-top: 50px;
}

.pay_header {
	width: 100%;
	height: auto;
	background-color: antiquewhite;
	display: flex;
	flex-direction: column;
	align-items: center;
	.pay_title {
		font-size: 22px;
		font-weight: 800;
		margin-bottom: 30px;
	}

	.back_buttons {
		width: 100%;
		height: 40px;
		display: flex;
		justify-content: flex-end;
		// background-color: rgb(243, 209, 164);
		button {
			border: 0.5px solid black;
			background-color: black;
			color: white;
			border-radius: 5px;
			margin-left: 5px;
			padding: 0 15px;
			height: 30px;
		}
	}
}

.pay_list {
	width: 100%;
	height: auto;
	table {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		.table_header {
			width: 100%;
			height: 40px;
			background-color: rgb(227, 227, 227);
		}
		tr {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			height: 150px;
			border: 1px solid black;
			.check {
				width: 70px;
			}
			td {
				width: calc(1100px / 7);
				// border: 1px solid black;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				.img_wrapper {
					width: 130px;
					height: 130px;
					border: 1px solid black;
				}
			}
		}
	}
}

.order_info {
	width: 100%;
	height: auto;
	table {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		.table_info {
			width: 100%;
			height: 40px;
			background-color: rgb(227, 227, 227);
			padding: 0 20px 0 20px;
			box-sizing: border-box;
			.import_text {
				font-size: 10px;
				color: red;
			}
		}
		tr {
			display: flex;
			align-items: center;
			width: 100%;
			height: 150px;
			border: 1px solid black;
			justify-content: space-between;
			td {
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.order_buttons {
	width: 100%;
	height: 100px;
	// background-color: azure;
	display: flex;
	align-items: center;
	justify-content: center;
	button {
		height: 40px;
		width: 180px;
		margin: 0 10px;
	}
	.order_total {
		background-color: rgb(103, 194, 255);
	}
}