.main_wrapper.sign_up {
	width: 100%;
	height: auto;
	// background-color: aqua;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	.progress {
		width: 430px;
		height: 80px;
		// background-color: aliceblue;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.progress_step {
			width: 120px;
			height: 100%;
			background-color: #bfe0ff;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 12px;
			color: #6b6b6b;
			font-size: 10px;
			.title {
				font-weight: 700;
				margin-bottom: 12px;
			}
		}
		.progress_step.step2 {
			background-color: #0085ff;
			color: white;
		}
	}
	.join_us_title {
		margin: 30px 0;
		font-weight: 700;
		font-size: 23px;
		color: #555cff;
	}
	.join_box {
		width: 1011px;
		height: 565px;
		border: 2px solid #dcdcdc;
		padding: 30px 70px;
		.member_form {
			width: 100%;
			height: 100%;
			padding: 20px 40px;
			box-sizing: border-box;
			display: flex;
			.member_form_col {
				width: 75%;
				height: 100%;
				display: flex;
				flex-direction: column;
				.member_form_row {
					height: auto;
					width: 100%;
				}
				.member_form_row.row1 {
					margin-bottom: 50px;
				}
				.ref {
					color: #a3a3a3;
					margin-bottom: 15px;
					font-size: 13px;
				}
				.form {
					display: flex;
					align-items: center;
					height: 46px;
					position: relative;
					.col1 {
						font-size: 15px;
						float: left;
						width: 150px;
					}
					.col2 {
						float: left;
						width: 400px;
					}
					.col3 {
						float: left;
						button {
							height: 30px;
							background-color: white;
							border: 1px solid black;
							position: absolute;
							left: 340px;
							top: 0;
							padding: 0 20px;
						}
					}
					input {
						border: none;
						border-bottom: 1px solid black;
						outline: none;
					}
				}
			}
			.member_form_col.check_box {
				width: 35%;
				height: 130px;
				.col2 {
					width: 130px;
				}
			}
		}
	}
	section {
		margin-top: 20px;
		button {
			width: 194px;
			height: 63px;
			border: none;
			background-color: white;
			border: 2px solid #b3bfff;
			font-size: 20px;
			font-weight: 700;
		}
		.button_join {
			background: #b3bfff;
			color: white;
		}
		.button_cancel {
			color: #8a8a8a;
		}
	}
}
