.main_wrapper.view_more_menu {
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: center;
}

.view_more_menu_wrapper {
	position: relative;
	right: 70px;
	width: 936px;
	height: 450px;

	background: #daedff;
	border-radius: 25px;
	padding: 30px 50px;
	box-sizing: border-box;
}

.view_more_menu_title {
	width: 75px;
	height: 30px;
	font-family: var(--jua-font);
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;

	color: #ffffff;
}

.view_more_menus {
	display: flex;
	margin-top: 10px;
	justify-content: space-between;
}

.view_more_menu_category,
.view_more_menu_my_page,
.view_more_menu_custom_center {
	z-index: 1;
	width: 497px;
	height: 353px;

	background: #ffffff;
	border-radius: 17px;
	display: flex;
	padding: 20px 10px;

	display: flex;
	justify-content: space-around;

	.category_col {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.category_row {
			display: flex;
			flex-direction: column;
			.menu_title {
				font-style: normal;
				font-weight: 700;
				font-size: 15px;
				line-height: 22px;
				color: #000000;
				margin-bottom: 5px;
			}
			.menu_detail {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 22px;

				color: #595959;
			}
		}
	}
}

.view_more_menu_column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.view_more_menu_my_page,
	.view_more_menu_custom_center {
		width: 292px;
		height: 157px;

		background: #ffffff;
		border-radius: 17px;
	}
}

.category_title {
	position: relative;
	top: -379px;
	left: 415px;
	width: 81px;
	height: 47px;

	background: #b3bfff;
	border-radius: 17px;
	span {
		display: flex;
		justify-content: center;
		padding-top: 5px;
		font-style: normal;
		font-size: 14px;
		line-height: 15px;

		color: #ffffff;
	}
}

.my_page_title {
	position: relative;
	top: -425px;
	left: 755px;
	width: 81px;
	height: 59px;

	background: #b3bfff;
	border-radius: 17px;
	span {
		display: flex;
		justify-content: center;
		padding-top: 5px;
		font-style: normal;
		font-size: 14px;
		line-height: 15px;

		color: #ffffff;
	}
}

.custom_center_title {
	position: relative;
	top: -290px;
	left: 706px;
	width: 130px;
	height: 60.76px;

	background: #b3bfff;
	border-radius: 17px;
	span {
		display: flex;
		justify-content: center;
		padding-top: 5px;
		font-style: normal;
		font-size: 14px;
		line-height: 15px;

		color: #ffffff;
	}
}
