.hot_issue_wrapper {
	width: 200px;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	// background-color: rgb(174, 174, 255);
	.hot_issue_under_line {
		border-bottom: 1px solid rgb(69, 69, 69);
		width: 150px;
		height: 30px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		.hot_issue {
			width: 100%;
			height: 100%;
			// background-color: rgb(255, 211, 135);
			.rank {
				color: palevioletred;
			}
		}
	}
}

.ticker {
	height: 100%;
	width: 90%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
	// 	background-color: aquamarine;
	li {
		height: 30px;
		padding: 5px;
		margin: 0px 5px;
	}
}

a {
	text-decoration: none;
	color: black;
}
