.main_wrapper.my-page {
	// background-color: aqua;
	height: auto;
	display: flex;
	.menus {
		width: 15%;
		height: 100%;
		// background-color: antiquewhite;
		border: 1px solid black;
		.my-page_title {
			width: 100%;
			height: 50px;
			// background-color: aquamarine;
			display: flex;
			justify-content: center;
			align-items: center;
			border-bottom: 1px solid black;
			font-weight: 700;
		}
		.navs {
			// background-color: beige;
			height: 450px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			.nav {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 40px;
				width: 100%;
				background-color: rgb(207, 207, 207);
				border-bottom: 1px solid black;
			}
		}
	}
	.view {
		width: 85%;
		height: auto;
		// background-color: rgb(110, 184, 249);
		padding: 30px 15px;
		box-sizing: border-box;
		border: 1px solid black;
		.order_title {
			text-align: center;
			font-weight: 700;
		}
		.member_pwd_title {
			text-align: center;
			font-weight: 700;
		}
	}
	// --------------- mem_info
	.join_box {
		width: 100%;
		height: 300px;
		border: 2px solid #dcdcdc;
		padding: 30px 30px;
		margin-top: 30px;
		.member_form {
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			display: flex;
			.member_form_col {
				width: 60%;
				height: 100%;
				display: flex;
				flex-direction: column;

				.member_form_row {
					height: auto;
					width: 100%;
				}
				.member_form_row.row1 {
					margin-bottom: 50px;
				}
				.ref {
					color: black;
					margin-bottom: 15px;
					font-size: 13px;
				}
				.form {
					display: flex;
					align-items: center;
					height: 46px;
					position: relative;
					.col1 {
						font-size: 13px;
						float: left;
						width: 150px;
					}
					.col2 {
						float: left;
						width: 400px;
					}
					input {
						border: none;
						border-bottom: 1px solid black;
						outline: none;
						
					}
					.input_text {
						width: 130px;
					}
				}
				.form.email {
					.col2 {
						font-size: 13px;
					}
				}
			}
			.member_form_col.check_box {
				width: 40%;
				height: 130px;
				// background-color: aliceblue;
				.col2 {
					width: 130px;
				}
			}
		}
	}
	section {
		margin-top: 30px;
		// background-color: antiquewhite;
		button {
			width: 120px;
			height: 40px;
			border: none;
			background-color: white;
			border: 2px solid rgb(207, 207, 207);
			font-size: 15px;
			font-weight: 700;
		}
		.button_join {
			background: rgb(207, 207, 207);
			color: white;
		}
		.button_cancel {
			color: #8a8a8a;
		}
	}
}

.table.pay {
	margin: 30px 0;
	width: 100%;
	.review_write {
		margin-top: 10px;
		width: 100px;
		font-size: 13px;
		padding: 3px 5px;
		border: 0.5px solid #7e7e7e;
		border-radius: 20px;
		background-color: rgb(169, 216, 255);
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		&:hover {
			background: #4b5882;
			color: #fff;
		}
	}
	.review_complete {
		color: #929398;
		margin-top: 10px;
		width: 100px;
		font-size: 13px;
		padding: 3px 5px;
		border-radius: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.order_info_header {
		display: flex;
		border-top: 2px solid black;
		height: 50px;
		justify-content: flex-start;
		align-items: center;
		box-sizing: border-box;
		padding-left: 15px;
		td {
			width: auto;
			height: auto;
		}
		td span {
			font-size: 14px;
			font-weight: 700;
		}
		.order_date {
			padding-right: 15px;
			border-right: 2px solid black;
		}
		.order_id {
			padding-left: 15px;
		}
	}
	tr {
		height: 110px;
		box-sizing: border-box;
		border: none;
		border-top: 1px solid black;
	}
	td {
		font-size: 13px;
		display: flex;
		flex-direction: column;
	}
	.img_wrapper {
		width: 70px;
		height: 70px;
	}
	.table_header {
		height: 30px;
	}
	.order_status span {
		font-size: 12px;
		font-weight: 700;
	}
	.order_receipt {
		justify-content: space-between;
		border-bottom: 1px solid black;
		height: 70px;
		margin-bottom: 40px;

		.total_title {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		.font_size {
			font-size: 12px;
			padding-bottom: 4px;
		}
		.font_weight {
			font-weight: 700;
		}
	}
}

.table.member {
	margin: 30px 0;
	width: 100%;
	.form {
		display: flex;
		align-items: center;
		height: 46px;
		position: relative;
		.pwd_col1 {
			display: flex;
    		justify-content: center;
    		align-items: center;
			width: 120px;
			height: 34px;
			float: left;
			font-size: 13px;
			border: 1px solid black;
			background-color: rgb(207, 207, 207);
		}
		.pwd_col2 {
			width: 400px;
			float: left;
		}
		input {
			width: 300px;
			height: 30px;
			border: none;
			outline: none;
			border-top: 1px solid black;
			border-right: 1px solid black;
			border-bottom: 1px solid black;
			// background-color: white;
		}
	}
}

.main_wrapper.my-page.member_info {
	.view {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.join_box {
			.member_form {
				.member_form_col.check_box {
					margin-left: 30px;
					border: 2px solid #dcdcdc;
					padding-top: 10px;
					.ref {
						margin-left: 5px;
					}
					.form {
						height: 38px;
						margin-left: 15px;
						.col1 {
							font-size: 11px;
						}
						.col2 {
							font-size: 11px;
						}
					}
				}
			}
		}
	}
}