// https://codepen.io/rickzanutta/pen/NNzGVd/

@import url(https://fonts.googleapis.com/css?family=Montserrat);

$hint: #faf8f8;
$turqoise: #17ead9;
$cornflower-blue: #31449b;
$tundora: #4b4848;
$electric-violet: #7c26f8;
$snappy: cubic-bezier(0.694, 0.048, 0.335, 1);

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes color-1 {
	0% {
		background-color: #eb73b9;
	}
	100% {
		background-color: #17ead9;
	}
}

::selection {
	background: $cornflower-blue;
	color: white;
	text-shadow: none;
}

::-webkit-selection {
	background: $cornflower-blue;
	color: white;
	text-shadow: none;
}

.field-container {
	position: relative;
	padding: 0;
	margin: 0;
	border: 0;
	width: 420px;
	height: 50px;
}

.icons-container {
	position: absolute;
	top: 7px;
	right: 25px;
	width: 30px;
	height: 30px;
	overflow: hidden;
}

.icon-search {
	position: relative;
	top: 5px;
	left: 8px;
	width: 50%;
	height: 50%;
	opacity: 1;
	border-radius: 50%;
	border: 3px solid mix($cornflower-blue, white, 35%);
	transition: opacity 0.25s ease, transform 0.43s $snappy;
	&:after {
		content: '';
		position: absolute;
		bottom: -9px;
		right: -2px;
		width: 4px;
		border-radius: 3px;
		transform: rotate(-45deg);
		height: 10px;
		background-color: mix($cornflower-blue, white, 35%);
	}
}

.field {
	box-sizing: border-box;
	border: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	background: rgb(210, 244, 255);
	border-radius: 3px;
	box-shadow: 0px 8px 15px rgba($tundora, 0.1);
	transition: all 0.4s ease;
	&:focus {
		outline: none;
		box-shadow: 0px 9px 20px rgba($tundora, 0.3);
	}
}

.search_wrapper {
	display: flex;
	align-items: center;
	margin: 0 30px;
}
