.table {
	width: 1100px;
	height: auto;
	table {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		.table_header {
			width: 100%;
			height: 40px;
			background-color: rgb(227, 227, 227);
		}
		// th {
		// 	border: 1px solid black;
		// }
		tr {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			height: 150px;
			border: 1px solid black;
			.content_info {
				flex-direction: column;
				span {
					margin-bottom: 10px;
					font-size: 14px;
				}
				.content_options {
					background-color: rgb(214, 214, 214);
					padding: 5px;
					border-radius: 10px;
				}
			}
			.check {
				width: 70px;
			}
			td {
				width: calc(1100px / 8);
				// border: 1px solid black;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				.img_wrapper {
					width: 130px;
					height: 130px;
					border: 1px solid black;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
		.order_receipt {
			justify-content: space-between;
			border-bottom: 1px solid black;
			height: 70px;
			margin-bottom: 40px;

			.total_title {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}
			.font_size {
				font-size: 12px;
				padding-bottom: 4px;
			}
			.font_weight {
				font-weight: 700;
			}
			.total_price {
				font-weight: 700;
				font-size: 15px;
			}
		}
	}
}
